@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Akaya+Telivigala&family=Anton&family=Dancing+Script:wght@500&family=Noto+Sans+JP:wght@500&family=Roboto+Mono:wght@500&family=Source+Serif+Pro&display=swap");

:root {
  --windowWidth: 100%;
  --windowHeight: 100%;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(32, 32, 31);
}

body.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

form {
  color: rgb(230, 228, 227);
  background: rgb(20, 20, 19);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

label {
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  box-sizing: border-box;
  position: absolute;
  top: max(50px, 20vh);
  left: 0;
  width: 100vw;
  height: 80vh;
  padding-bottom: max(100px, 20vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

#prompt {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 0 15px 0;
  text-align: center;
}

#title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.mdw {
  font-size: 8px;
  color: #878787;
  margin: 3px;
}

a.mdw {
  color: #cecece;
  text-decoration: none;
}

.about {
  color: rgb(255, 32, 2);
}

#message {
  background: rgb(16, 16, 14, 0.5);
  color: white;
  font-family: 12px "Noto Sans JP", sans-serif;
  padding: 10px;
  border: 0;
  height: 30px;
  width: 250px;
  border-bottom: 1px solid rgb(255, 32, 2);
}

#upload-photo {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
  background: transparent
    url("https://assets.codepen.io/2209160/plate%402x.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#upload-photo input {
  display: block;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  opacity: 0;
  cursor: pointer;
}

#upload-photo img {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 285px;
  height: 285px;
  border-radius: 100%;
  object-fit: cover;
  mix-blend-mode: color-burn;
}

#upload-prompt {
  font-weight: 900;
  color: rgb(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#submit {
  width: 100px;
  height: 32px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  margin: 0 auto;
  border: 3px solid rgb(255, 32, 2);
  background: black;
  color: white;
  border-radius: 20px;
  transition: 1s all;
}

#submit.submitted {
  width: 200px;
  background: rgb(255, 32, 2);
  color: black;
  border-radius: 5px;
}

#submit.back {
  width: 250px;
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
}

.bg-wrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-element {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-element svg {
  position: absolute;
  top: -65px;
  left: -65px;
  width: 330px;
  height: 330px;
}

.position-1 {
  transform: rotate(72deg) translate(400px, 0);
}

.position-2 {
  transform: rotate(144deg) translate(400px, 0);
}

.position-3 {
  transform: rotate(216deg) translate(400px, 0);
}

.position-4 {
  transform: rotate(288deg) translate(400px, 0);
}

.position-5 {
  transform: rotate(0deg) translate(400px, 0);
}

.text-1 {
  font-size: 30px;
  font-family: "Abril Fatface", cursive;
  font-weight: bold;
  font-variant-ligatures: none;
  fill: rgb(230, 230, 230);
}

.bg-plate {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  background: transparent
    url("https://assets.codepen.io/2209160/plate%402x.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-plate img {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 181px;
  height: 181px;
  border-radius: 100%;
  object-fit: cover;
  mix-blend-mode: color-burn;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 300s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.by {
  position: absolute;
  width: 200px;
  font-size: 10px;
  color: #676767;
  left: calc(50vw - 100px);
}

.by.home {
  bottom: 20px;
}

.thank-you {
  padding: 30px;
  background: black;
  width: 250px;
  color: white;
}

.thank-you p {
  margin-top: 0;
}

#online-gallery {
  margin: 100px auto;
  padding: 0 100px;
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  column-gap: 30px;
  row-gap: 40px;
}

.plate {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
