@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Akaya+Telivigala&family=Anton&family=Dancing+Script:wght@500&family=Noto+Sans+JP:wght@500&family=Roboto+Mono:wght@500&family=Source+Serif+Pro&display=swap");

:root {
  --windowWidth: 100vw;
  --windowHeight: 100vh;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(32, 32, 31);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

form {
  color: rgb(230, 228, 227);
  background: rgb(20, 20, 19);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  z-index: 1;
}

label {
  display: flex;
  flex-direction: column;
}

#prompt {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 0 15px 0;
  text-align: center;
}

#message {
  background: rgb(16, 16, 14, 0.5);
  color: white;
  font-family: "Inter";
  padding: 15px;
  border: 0;
  border-bottom: 1px solid rgb(255, 32, 2);
}

#upload-photo {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  background: transparent
    url("https://assets.codepen.io/2209160/plate%402x.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#upload-photo input {
  display: block;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  opacity: 0;
  cursor: pointer;
}

#upload-photo img {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 281px;
  height: 281px;
  border-radius: 100%;
  object-fit: cover;
  mix-blend-mode: overlay;
}

#upload-prompt {
  font-weight: 900;
  color: rgb(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#submit {
  width: 100px;
  height: 32px;
  font-family: "Inter";
  font-weight: 700;
  margin: 0 auto;
  border: 3px solid rgb(255, 32, 2);
  background: black;
  color: white;
  border-radius: 20px;
  transition: 1s all;
}

#submit.submitted {
  width: 200px;
  background: rgb(255, 32, 2);
  color: black;
  border-radius: 5px;
}

.bg {
  position: absolute;
  top: calc(50vh - 100px);
  left: calc(50vw - 10px);
}

.bg-element {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-element svg {
  position: absolute;
  top: -65px;
  left: -65px;
  width: 330px;
  height: 330px;
}

.position-1 {
  transform: rotate(72deg) translate(400px, 0);
}

.position-2 {
  transform: rotate(144deg) translate(400px, 0);
}

.position-3 {
  transform: rotate(216deg) translate(400px, 0);
}

.position-4 {
  transform: rotate(288deg) translate(400px, 0);
}

.position-5 {
  transform: rotate(0deg) translate(400px, 0);
}

.text-1 {
  font-size: 30px;
  font-family: "Abril Fatface", cursive;
  font-weight: bold;
  font-variant-ligatures: none;
  fill: white;
}

.bg-plate {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  background: transparent
    url("https://assets.codepen.io/2209160/plate%402x.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-plate img {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 181px;
  height: 181px;
  border-radius: 100%;
  object-fit: cover;
  mix-blend-mode: overlay;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 300s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.by {
  position: absolute;
  bottom: 20px;
  width: 200px;
  font-size: 10px;
  color: #676767;
}
